{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Campaign Team Project</title>

        <meta name="description" content="This is a Campaign Team Project created by Cindy Guanci, Latin teacher at River Bluff High School in Columbia, South Carolina.  The project pairs Roman emperors and US candidates for presidents and has them run for 'Consuls of the Empire.'">
        <meta name="keywords" content="roman, latin, president, candidates, election, campaign, emperor">
        <meta name="author" content="knittingarch.wordpress.com">

        <meta http-equiv="cleartype" content="on">

        <link rel="shortcut icon" href="/favicon.ico">

        <!-- Responsive and mobile friendly stuff -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- Stylesheets -->
        <link rel="stylesheet" href="{% static 'poll/html5reset.css' %}" media="all">
        <link rel="stylesheet" href="{% static 'poll/col.css' %}" media="all">
        <link rel="stylesheet" href="{% static 'poll/2cols.css' %}" media="all">
        <link rel="stylesheet" href="{% static 'poll/3cols.css' %}" media="all">
        <link rel="stylesheet" href="{% static 'poll/6cols.css' %}" media="all">

        <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'poll/queries.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'poll/style.css' %}" />

    </head>

    <body>

<!-- NAVIGATION -->

        <nav id="sticky top">
            <ul class="menu">
                <li><a href="#candi-top">candidates</a></li>
                <li><a href="#poll-top">poll</a></li>
            </ul>
        </nav>


<!-- INTRO HEADER -->

        <div class="section group intro">
            <div class="col span_1_of_1">
<!--                <a class="giant-icon star ion-asterisk"></a>-->
                    <h1>Campaign Team Project</h1>
                    <span class="yes giant-icon ion-thumbsup"></span>
<!--                <span class="no giant-icon ion-thumbsdown"></span>-->
                <p>Hello, citizens of the United Empire of Romerica! It’s that time of year again! The official election
                    of the Co-Leaders of the Empire has begun again! Do you want your voice to be heard? Do you want
                    your issues to be addressed by the governing body? Do you want to feel like you have a say in what
                    happens to the citizens of the Empire? Then you must vote! The six pairs of running mates listed
                    below are the ones desiring to hold the highest elected office in all of Romerica. It is your civic
                    duty as a citizen to exercise your right to vote for the pair who will become the Co-Leaders of the
                    Empire. Please take some time to peruse each pair’s website before making your decision.</p>
            </div>

            <div class="section group pairs">
                <div class="col span_1_of_3">
                    <ul>
                        <li><a target="_blank" href="http://jointhebernwagon.wix.com/latin">Augustus &#38; Bernie Sanders</a></li>
                        <li><a target="_blank" href="https://tiberiusjebbush.wordpress.com/">Tiberius &#38; Jeb Bush</a></li>
                    </ul>

                </div>

                <div class="col span_1_of_3">
                    <ul>
                        <li><a target="_blank" href="http://tindalaustinp.wix.com/donald">Caligula &#38; Donald Trump</a></li>
                        <li><a target="_blank" href="http://hillarytrajan.weebly.com/">Trajan &#38; Hillary Clinton</a></li>
                    </ul>
                </div>

                <div class="col span_1_of_3">
                    <ul>
                        <li><a target="_blank" href="https://caesarandomalley.wordpress.com/">Julius Caesar &#38; Martin O'Malley</a></li>
                        <li><a target="_blank" href="#">Vespasian &#38; Ted Cruz</a></li>
                    </ul>
                </div>
            </div>

        </div>


<!-- POLL SECTION -->

        <div id="poll-top" class="section group poll">
                <div id="fly" class="poll-question">
                    <h2 class="poll-header">Vote for Your Candidates <a href="#top" class="icon ion-arrow-up-a"></a></h2>

                    {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <p>{{ question.question_text }}</p>
                    <form class="poll-options" action="{% url 'vote' question.id %}" method="post">
                        {% csrf_token %}
                        {% for choice in question.choice_set.all|dictsort:"choice_text" %}
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                        {% endfor %}
                        <input class="vote" type="submit" value="Vote!" />
                    </form>
                </div>


                <div class="criteria-box">
                    <h3>Voting Criteria</h3>
                    <ul class="criteria">
                        <li class="ion-checkmark"><span>Leaders’ ideals are comprehensible and most align with your vision for the Empire</span></li>
                        <li class="ion-checkmark"><span>Leaders’ experience is evident and compelling</span></li>
                        <li class="ion-checkmark"><span>Website as a whole is compelling, exciting, and persuasive</span></li>
                        <li class="ion-checkmark"><span>Campaign materials are professional and meaningful</span></li>
                    </ul>
                </div>
        </div>


<!-- CANDIDATE PHOTO GALLERY -->

        <div id="candi-top" class="section group candidates">
            <h2>The Candidates <a href="#top" class="icon-candi ion-arrow-up-a"></a></h2>
        </div>

        <div class="section group candidates">

            <div class="col span_1_of_6">
                <a target="_blank" href="https://en.wikipedia.org/wiki/Augustus"><img src="{% static 'poll/augustus_crop.jpeg' %}" alt="Augustus Caesar" /></a>
                <p>Augustus</p>
            </div>

            <div class="col span_1_of_6">
                <a target="_blank" href="https://jeb2016.com/"><img src="{% static 'poll/bush_crop.jpg' %}" alt="Jeb Bush" /></a>
                <p>Bush</p>
            </div>

            <div class="col span_1_of_6">
                <a target="_blank" href="https://en.wikipedia.org/wiki/Julius_Caesar"><img src="{% static 'poll/caesar_crop.jpg' %}" alt="Julius Caesar"/></a>
                <p>Caesar</p>
            </div>

            <div class="col span_1_of_6">
                <a target="_blank" href="https://en.wikipedia.org/wiki/Caligula"><img src="{% static 'poll/caligula_crop.jpg' %}" alt="Caligula" /></a>
                <p>Caligula</p>
            </div>

            <div class="col span_1_of_6">
                <a target="_blank" href="https://www.hillaryclinton.com/"><img src="{% static 'poll/clinton_crop.jpg' %}" alt="Hillary Clinton" /></a>
                <p>Clinton</p>
            </div>

            <div class="col span_1_of_6">
                <a target="_blank" href="https://www.tedcruz.org/"><img src="{% static 'poll/cruz_crop.jpg' %}" alt="Ted Cruz" /></a>
                <p>Cruz</p>
            </div>

        </div>

        <div class="section group candidates">

            <div class="col span_1_of_6">
                <a target="_blank" href="https://martinomalley.com/"><img src="{% static 'poll/omalley_crop.jpg' %}" alt="Martin O'Malley" /></a>
                <p>O'Malley</p>
            </div>

            <div class="col span_1_of_6">
                <a target="_blank" href="https://berniesanders.com/"><img src="{% static 'poll/sanders_crop.jpg' %}" alt="Bernie Sanders" /></a>
                <p>Sanders</p>
            </div>

            <div class="col span_1_of_6">
                <a target="_blank" href="https://en.wikipedia.org/wiki/Tiberius"><img src="{% static 'poll/tiberius_crop.jpg' %}" alt="Tiberius" /></a>
                <p>Tiberius</p>
            </div>

            <div class="col span_1_of_6">
                <a target="_blank" href="https://en.wikipedia.org/wiki/Trajan"><img src="{% static 'poll/trajan_crop.jpg' %}" alt="Trajan" /></a>
                <p>Trajan</p>
            </div>

            <div class="col span_1_of_6">
                <a target="_blank" href="https://www.donaldjtrump.com/"><img src="{% static 'poll/trump_crop.jpg' %}" alt="Donald Trump" /></a>
                <p>Trump</p>
            </div>

            <div class="col span_1_of_6">
                <a target="_blank" href="https://en.wikipedia.org/wiki/Vespasian"><img src="{% static 'poll/vespasian_crop.jpg' %}" alt="Vespasian" /></a>
                <p>Vespasian</p>
            </div>

        </div>


        <div class="footer group">
            <p>Created by <a href="">Knittingarch</a> &#169; 2016</p>
        </div>

    </body>
</html>

